<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @client.person_id %>
</p>

<p>
  <strong>Money invested:</strong>
  <%= @client.money_invested %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @client.visits %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
