<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @sale.client_id %>
</p>

<p>
  <strong>Waiter:</strong>
  <%= @sale.waiter_id %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @sale.total_cost %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
